.admin-title {
  text-align: center;
  font-family: "Showcard Gothic", Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.admin-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 20px;
  cursor: pointer;
  padding: 12px 20px;
  width: 250px;
  margin: 0 auto;
  border-radius: 5px;
}

.icon {
  width: 25px;
  text-align: center;
}

.admin-option:hover {
  background-color: black;
  color: white;
}

.admin-option.active {
  background-color: black;
  color: white;
}

.admin-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-layout.expanded {
  justify-content: flex-start;
  align-items: stretch;
}

.admin-layout.expanded .admin-card-wrapper {
  width: 33vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-content {
  display: none;
}

.admin-content.visible {
  display: flex;
  flex: 1;
  padding: 40px;
  align-items: flex-start;
}