.card-title {
  text-align: center;
  font-family: "Showcard Gothic", Arial, sans-serif;
  width: 100%;
  font-size: 22px;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
}